- project: "{{proj_name}}"
  success:
  - job_template: "{{aws_provision_template}}"
    success:
    - inventory_source: "{{ec2_source_inventory}}"
      success:
      - job_template: "{{aws_status_check_template}}"
        success:
        - job_template: "{{aws_ssh_keys_template}}"
  - job_template: "{{osp_infra_template}}"
    success:
    - job_template: "{{name_osp_instances_template}}"
      success:
      - job_template: "{{name_3tier_app_template}}"
        success:
        - job_template: "{{smoke_osp_template}}"
          failure:
          - job_template: "{{osp_instances_delete_template}}"
          success:
          - inventory_source: "{{ec2_inventory_source}}"
            success:
            - job_template: "{{3tier_app_aws_template}}"
              success:
              - job_template: "{{smoke_aws_template}}"
             
